.merah{
    border-color: red;
}
.kuning{
    border-color: yellow;
}
.hijau{
    border-color: green;
}
.biru{
    border-color: blue;
}
.kotak-tengah{
    margin: auto;
    height: 100px;
    border-width: 1px;
    border-style: solid;
    width: 500px;
}
.kotak{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    border-width: 1px;
    border-style: solid;
}